/******************************************
 * Global design
 ******************************************/
html {
	width: 100%;
}
body {
	width: 98%;
	background-color: #F8F8FF;
	margin: 0;
	padding: 0;
	margin-left: 1%;
	margin-right: 1%;
}

#header, #menu, #body {
	width: 100%;
	clear: both;
	margin: 0;
	margin-top: 10px;
}

#header img {
	float: left;
}

#header {
	font-size: 2em;
}

#menu {
	list-style-type: none;
	width: 100%;
	padding: 0;
	padding-left: 1%;
}

#menu li {
	display: inline-block;
	width: 12%;
	text-align: center;
	background-color: #CCCCFF;
	overflow: hidden;
	height: 100%;
}
#menu li:hover, #menu li:focus {
	background-color: #C0C0FF;
}
#menu li a, #menu li a:visited, #menu li a:hover, #menu li a:focus {
	color: black;
	text-decoration: none;
	display: block;
	width: 100%
	height: 100;
	text-align: center;
}

#body {
	margin-top: 10px;
}

#pagination {
	text-align: center;
}

h1 {
	text-align: center;
}
.honey { /* honeypot */
	display: none;
}

/******************************************
 * Link to RSS/Atom feeds
 ******************************************/
#feeds {
	text-align: right;
	background-image: url("/static/feed.png");
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 20px;
	clear: both;
	margin-bottom: 5px;
	list-style-type: none;
	padding-left: 0;
}

/******************************************
 * Form-related
 ******************************************/
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 10px;
}
table.form tr {
	border: 1px solid black;
}
table.form tr th {
	border: 1px solid black;
}
table.form tr td {
	padding: 5px;
}
table.form td td .errorlist {
	margin: 0;
	padding: 0;
}
table.form tr td input, table.form tr td textarea {
	width: 100%;
	margin: auto;
	text-align: left;
}
table.form tr td input[type=button], table.form tr td input[type=submit] {
	width: 100%;
	font-size: 2em;
	text-align: center;
}
table.form tr td input[type=checkbox] {
	width: auto;
}
table.form tr td span.helptext {
	display: block;
	color: #555555;
	font-size: 0.8em;
}
table.form .errorlist {
	list-style-type: none;
	padding: 1px;
	margin: 0;
}

/******************************************
 * Errors
 ******************************************/
.error, .errorlist {
	background-color: #FFE0E0;
	border: 2px solid red;
	list-style-type: none;
}

.error.no-item-on-page {
	display: block;
	text-align: center;
}

/******************************************
 * Profile
 ******************************************/
#profile table {
	display: block-inline;
	border: 1px solid black;
}
#profile table td.rowspan {
	text-align: center;
}
#profile h1 {
	text-align: center;
}

/******************************************
 * News
 ******************************************/
#news_list {
	list-style-type: none;
	list-style-position: inside;
	margin: 0;
	padding: 0;
}
#news_list li {
	border: 1px solid #A0A0FF;
	margin: 0;
	padding: 5px;
}
#news_list li h2 {
	padding: 0;
	margin: 0;
}
#news_list li h2 a, #news_list li h2 a:visited {
	color: #5050FF;
}
#news_list li h2 a:hover, #news_list li h2 a:focus {
	text-decoration: none;
}

#news {
	border: 1px solid #A0A0FF;
}
#news div#metadata {
	margin: 5px;
	padding: 0;
	float: right;
	display: inline-block;
	border: 1px solid black;
}
#news div#metadata dt:after {
	content: ":";
}
#news #content h1, #news #content h2 {
	text-align: left;
}

/******************************************
 * Download links
 ******************************************/
#download_links table {
	width: 100%;
	border-collapse: collapse;
}
#download_links table tr th, #download_links table tr td {
	border: 1px solid black;
	text-align: center;
}
#download_links table tr th {
	background-color: #DDDDFF;
}

/******************************************
 * Plugins
 ******************************************/
table#plugins, table#repositories {
	width: 100%;
	border-collapse: collapse;
}
table#plugins tr th, table#plugins tr td, table#repositories tr th, table#repositories tr td {
	border: 1px solid black;
	text-align: center;
}
table#plugins tr th, table#repositories tr th {
	background-color: #DDDDFF;
}
#plugin {
	border: 1px solid #A0A0FF;
}
#plugin div#metadata {
	margin: 5px;
	padding: 0;
	float: right;
	display: inline-block;
	border: 1px solid black;
}
#plugin div#metadata dt:after {
	content: ":";
}
#plugin #description h1, #news #description h2 {
	text-align: left;
}

.goto_admin {
	float: right;
	display: inline-block;
	text-align: center;
	border: 1px solid black;
	padding: 2px;
	margin-bottom: 5px;
	font-weight: bold;
}
.goto_admin ul {
	list-style-type: none;
	font-weight: normal;
	padding: 0;
}
.saved {
	background-color: #AAFFAA;
}
#new_repo {
	border: 1px solid black;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}
#new_repo tr td input.submit {
	width: 100%;
}
#new_repo tr td ul.errorlist {
	padding: 2px;
}

/******************************************
 * Comments
 ******************************************/
ul#comments {
	border: 1px solid #A0A0FF;
	margin: 0;
	margin-top: 10px;
	list-style-type: none;
	padding: 0;
}
ul#comments li {
	margin: 2px;
	padding: 2px;
	border: 1px solid #A0A0FF;
}
ul#comments li.mycomment {
	border: 1px solid yellow;
}
ul#comments li h2 {
	font-size: 1em;
}
ul#comments li h1 {
	text-align: left;
}
#comment_form {
	margin: 0;
	margin-top: 10px;
	padding: 5px
	border: 1px solid #A0A0FF;
	width: 100%;
	text-align: center;
}
#comment_form textarea {
	min-width: 50%;
	min-height: 200px;
}


/******************************************
 * Paste
 ******************************************/
/* .highlight{ background: #f2f2f2; } */
.highlight .c { color: #008800; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #AA22FF; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #008800 } /* Comment.Preproc */
.highlight .c1 { color: #008800; font-style: italic } /* Comment.Single */
.highlight .cs { color: #008800; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { color: #AA22FF; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #AA22FF; font-weight: bold } /* Keyword.Declaration */
.highlight .kp { color: #AA22FF } /* Keyword.Pseudo */
.highlight .kr { color: #AA22FF; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #AA22FF; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BB4444 } /* Literal.String */
.highlight .na { color: #BB4444 } /* Name.Attribute */
.highlight .nb { color: #AA22FF } /* Name.Builtin */
.highlight .nc { color: #0000FF } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #00A000 } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #B8860B } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BB4444 } /* Literal.String.Backtick */
.highlight .sc { color: #BB4444 } /* Literal.String.Char */
.highlight .sd { color: #BB4444; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BB4444 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BB4444 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BB4444 } /* Literal.String.Single */
.highlight .ss { color: #B8860B } /* Literal.String.Symbol */
.highlight .bp { color: #AA22FF } /* Name.Builtin.Pseudo */
.highlight .vc { color: #B8860B } /* Name.Variable.Class */
.highlight .vg { color: #B8860B } /* Name.Variable.Global */
.highlight .vi { color: #B8860B } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
.highlight div:hover { background: #ff9 }

.snippet th {
	font-weight: normal;
}
.snippet th {
	padding: 0;
	margin: 0;
	width: 20px;
}
.snippet td .highlight {
	padding: 0;
	margin: 0;
	margin-top: 15px;
}
.snippetform {
	width: 100%;
}
.snippetform table {
	width: 100%;
}
.snippetform textarea {
	width: 100%;
	height: 400px;
}
